.signIn{
    height: 73vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signIn div{
    height: 50%;
    width: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signIn div .input {
    width:  30em;
    height: 4em;
}