main {
    width: 100vw;
}
main .kitchenLandingPage{
    width: 100%;
    height: 80vh;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e73fbd127166603.613c3c5346de6.gif);
    background-position: 0px -350px;
    background-size: cover;
    background-repeat: no-repeat;
}
main .kitchenLandingPage div{
    width: 100%;
    height: 100%;
    background: #00000074;
}

main .kitchenS1{
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

main .kitchenS1 .kitchenImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
main .kitchenS1 .kitchenImg button{
    background: rgb(176, 167, 167);
    border: none;
}
main .kitchenS1 .kitchenImg div {
    width: 80em;
    height: 30em;
    color: black;
    display: flex; 
    gap: 20px;
}
main .kitchenS1 .kitchenImg div h1{
    font-size: 2em;
}
main .kitchenS1 .kitchenImg .imgDiv{
    height: 90%;
    width: 30em;
}
main .kitchenS1 .kitchenImg img{
    height: 100%;
    width: 100%;  
}
main .kitchenS1 .kitchenImg div .info{
    height: 100%;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 50px;
    /* justify-content: center; */
}

main .kitchenSlideBar{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    margin-bottom: 50px;
}
main .kitchenSlideBar div{
    width: 100%;
    height: 20em;
    border: 1px solid black;
}





















main .kitchenItemShopping{
    width: 70%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}