main{
    width: 100vw;

}
main .diningLandingPage{
    width: 100%;
    height: 75vh;
    background-image: url(https://i.pinimg.com/originals/07/e9/24/07e92428abca0de0519c2900aed8bcb2.jpg);
    background-position:0px -300px;
    background-size: cover;
    background-repeat: no-repeat;
}





main .diningS1{
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

main .diningS1 .dsImgDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
main .diningS1 .dsImgDiv button{
    background: rgb(176, 167, 167);
    border: none;
}
main .diningS1 .dsImgDiv div {
    width: 80em;
    height: 30em;
    color: black;
    display: flex; 
    gap: 20px;
}
main .diningS1 .dsImgDiv div h1{
    font-size: 2em;
}
main .diningS1 .dsImgDiv .imgDiv{
    height: 90%;
    width: 30em;
}
main .diningS1 .dsImgDiv img{
    height: 100%;
    width: 100%;  
}
main .diningS1 .dsImgDiv div .info{
    height: 100%;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 50px;
    /* justify-content: center; */
}


main .diningSlidebar{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    margin-bottom: 50px;
}
main .diningSlidebar div{
    width: 100%;
    height: 20em;
    border: 1px solid black;
}


main .diningRoomShopping{
    width: 70%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}