main {
    width: 100vw;
}
main .bedroomLandingPage{
    width: 100%;
    height: 75vh;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400/4e266f168478369.643b5898b02f2.gif);
    background-position:0px -200px;
    background-size: cover;
    background-repeat: no-repeat;
}
main .bedroomLandingPage div{
    height: 100%;
    width: 100%;
    background: #0000002c;
}
main .bedroomS1{
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

main .bedroomS1 .bedRoomImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

main .bedroomS1 .bedRoomImg button{
    background: rgb(176, 167, 167);
    border: none;
}
main .bedroomS1 .bedRoomImg div {
    width: 80em;
    height: 30em;
    color: black;
    display: flex; 
    gap: 20px;
}
main .bedroomS1 .bedRoomImg div h1{
    font-size: 2em;
}
main .bedroomS1 .bedRoomImg .imgDiv{
    height: 90%;
    width: 30em;
}
main .bedroomS1 .bedRoomImg img{
    height: 100%;
    width: 100%;  
}
main .bedroomS1 .bedRoomImg div .info{
    height: 100%;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 50px;
    /* justify-content: center; */
}

main .bedRoomSlideBar{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    margin-bottom: 50px;
}
main .bedRoomSlideBar div{
    width: 100%;
    height: 20em;
    border: 1px solid black;
}