main {
    width: 100vw;
}
main .homeDecorLandingPage{
    width: 100%;
    height: 80vh;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/61414a33919178.56bcc5caf35da.jpg);
    background-position:0px -250px;
    background-repeat: no-repeat;
    background-size: cover;
}

main .homeDecorS1{
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

main .homeDecorS1 .hdImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

main .homeDecorS1 .hdImg button{
    background: rgb(176, 167, 167);
    border: none;
}
main .homeDecorS1 .hdImg div {
    width: 80em;
    height: 30em;
    color: black;
    display: flex; 
    gap: 20px;
}
main .homeDecorS1 .hdImg div h1{
    font-size: 2em;
}
main .homeDecorS1 .hdImg .imgDiv{
    height: 90%;
    width: 30em;
}
main .homeDecorS1 .hdImg img{
    height: 100%;
    width: 100%;  
}
main .homeDecorS1 .hdImg div .info{
    height: 100%;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 50px;
    /* justify-content: center; */
}
main .hdSlideBar{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    margin-bottom: 50px;
}
main .hdSlideBar div{
    width: 100%;
    height: 20em;
    border: 1px solid black;
}


































main .homeDecorItemsShopping{
    width: 70%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}