main {
    width: 100vw;
}
main .officeLandingPage{
    width: 100%;
    height: 80vh;
    background-image: url(https://i.pinimg.com/originals/cd/2d/a9/cd2da956c200e733bbe81fcc41d4eed7.jpg);
    background-position:0px -300px;
    background-repeat: no-repeat;
    background-size: cover;
}
main .officeLandingPage div{
    height: 100%;
    width: 100%;
    background-color: #0d0d0d6a;
}

main .officeS1{
    width: 100%;
    padding: 30px;
    display: flex;
    position: relative;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 150px;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}

main .officeS1 .officeImg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

main .officeS1 .officeImg button{
    background: rgb(176, 167, 167);
    border: none;
}
main .officeS1 .officeImg div {
    width: 80em;
    height: 30em;
    color: black;
    display: flex; 
    gap: 20px;
}
main .officeS1 .officeImg div h1{
    font-size: 2em;
}
main .officeS1 .officeImg .imgDiv{
    height: 90%;
    width: 30em;
}
main .officeS1 .officeImg img{
    height: 100%;
    width: 100%;  
}
main .officeS1 .officeImg div .info{
    height: 100%;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 50px;
    /* justify-content: center; */
}







main .officeSlideBar{
    width: 100%;
    padding: 30px;
    border: 2px solid red;
    margin-bottom: 50px;
}
main .officeSlideBar div{
    width: 100%;
    height: 20em;
    border: 1px solid black;
}




























main .OfficeItemShopping{
    width: 70%;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}